html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  background: $darkBrown;
  color: $offWhite;
  font-family: $primary-font;
  font-size: 1.55em;
  line-height: 1.7;
}

a {
  color: $white;
  position: relative;
  text-decoration: none;
  &::before {
    background: $white;
    bottom: 0;
    content: '';
    height: 1px;
    position: absolute;
    width: 100%;
  }
  &:hover {
    color: $white;
  }
}
