<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-base-url" content="{{ site.url }}" />
    <meta name="theme-color" content="#2b2018" />
    <meta
      name="description"
      content="Patrick Ojeh is a product engineer focusing on front-end engineering from Lagos, Nigeria."
    />
    <title>{{ title }} {% if site.name %} – {{ site.name }} {% endif %}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css" />
    {% block head %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      defer
      src="https://www.googletagmanager.com/gtag/js?id=UA-163692342-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(...args) {
        window.dataLayer.push(args);
      }
      gtag('js', new Date());

      gtag('config', 'UA-163692342-1');
    </script>
  </head>
  <body>
    <div id="progress-container">
      <div id="progress-bar"></div>
    </div>

    {% include "partials/navigation.html" %}

    <main>{% block content %}{% endblock %}</main>

    {% include "partials/footnotes.html" %} {% include "partials/footer.html" %}

    <script src="/js/main.js" type="module"></script>
  </body>
</html>
