.primary-footer {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  mix-blend-mode: difference;
  padding: 24px 32px;
  pointer-events: none;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 1;

  @include responsive(x-small) {
    padding: 24px 32px 16px;
  }

  p {
    color: $white;
    font-weight: 600;
    margin: 0;
    i {
      animation: 1s blinkText linear infinite;
      font-style: normal;
    }
  }
}

.footnotes {
  padding-bottom: 50px;

  hr {
    border-top: 1px solid #322b27;
  }
  small {
    display: inline-block;
    opacity: 0.5;
  }
}
