.primary-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  mix-blend-mode: difference;
  padding: 24px 32px;
  position: sticky;
  white-space: nowrap;
  top: 0;
  z-index: 1;
  @include responsive(x-small) {
    padding: 16px 20px;
  }

  a::before {
    content: unset;
  }

  .eight.columns {
    @include responsive(medium) {
      width: 72.3333333333%;
    }
    @include responsive(large) {
      width: 70.5%;
    }
    @include responsive(x-large) {
      width: 66.3333333333%;
    }
  }

  ul {
    column-gap: 32px;
    display: none;
    list-style-type: none;
    margin: 0;
    @include responsive(medium) {
      display: flex;
    }
  }
  li {
    margin: 0;
  }
  a {
    font-weight: 600;
  }
}
