<div class="container">
  <section class="footnotes">
    <div class="row">
      <div class="eight columns center">
        <hr />
        <small>
          This website was built in
          <a href="https://11ty.dev" target="_blank">11ty</a> and is hosted on
          <a href="https://netlify.com" target="_blank">Netlify</a>. <br />
          Source code is open sourced and available on
          <a
            href="https://github.com//patrickojeh/patrickojeh.com"
            target="_blank"
            >Github</a
          >
          &mdash; All rights reserved, unless otherwise specified.
        </small>
      </div>
    </div>
  </section>
</div>
